@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Mono:wght@400;600&family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebebeb;
}

main {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

span,
.card-copyright,
.error-message {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

.card-hashtag {
  font-weight: 600;
}

h1 {
  font-size: 4rem;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: #364a60;
}

h2 {
  font-size: 1.25rem;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: cover;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.card {
  border: 1.75px solid #ebebeb;
  padding: 20px 16px;
  background-color: #fcfcfc;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
  border-radius: 5px;
}

.card-copyright {
  font-weight: 600;
  margin-bottom: 10px;
}

.card-extra-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-top: 12px;
  color: #808080;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error-container p {
  text-align: center;
  color: #364a60;
}

.error-container img {
  width: 50%;
  margin: 0 auto;
  object-fit: contain;
}

.animate-heart {
  animation: wobble 1.25s 1;
}

@keyframes wobble {
  25% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
